.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 110px;
    padding: 10px;
    color: $black;
    background-color: $light-grey;
    z-index: 2;
    
    fieldset {
        padding: 10px;
        width: 100%;

        img {
            position: absolute;
            width: 30px;
            bottom: 17px;
            margin-left: 5px;
        }
    }
    &__input {
        width: 100%;
        height: 35px;
        padding-left: 40px;
        font-size: 1rem;
        border: none;
        border-radius: 7px;
        transition: .1s all ease-in;

        &:hover,
        &:focus {
            outline: none;
            background-color: $js-yellow;

            &::placeholder {
                color: $black;
            }
        }
    }
}

@media only screen and (min-width: 576px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        height: 70px;

        &__input {
            width: 300px;
        }
        fieldset {
            width: auto;

            img {
                bottom: 20px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .header {
        justify-content: space-between;
    }
}

@media only screen and (min-width: 992px) {
    .header {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: $white;
        border-bottom: .5px solid $light-grey;

        &__input {
            background-color: $light-grey;
        }
    }
}